In [1]:
# This program shows geocodes via address for * in dataset.

import os
os.listdir()

['p1.py',
 '.DS_Store',
 'p7-geocode.ipynb',
 'p4-translator.py',
 'p3-related.txt',
 'p6-related.txt',
 'p6-pandas.ipynb',
 '.ipynb_checkpoints',
 'p4-related.json',
 'p3.py',
 'p3-related.csv',
 'p2-related.txt',
 'p2.py',
 'p7-related.xlsx']

In [2]:
import pandas
from geopy.geocoders import ArcGIS

arc = ArcGIS()

data = pandas.read_excel("p7-related.xlsx")
data

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [7]:
data["Address"] = data["Address"] + ", " + data["City"] + ", " + data["State"]
# data

In [8]:
data["Coordinates"] = data["Address"]
# data

In [9]:
data["Coordinates"] = data["Address"].apply(arc.geocode)
# data

In [10]:
data["Latitude"] = data["Coordinates"].apply(lambda x : x.latitude if x!=None else None)
# data

In [11]:
data["Longitude"] = data["Coordinates"].apply(lambda x : x.longitude if x!=None else None)
# data

In [12]:
data.drop(columns='Coordinates')

,ID,Address,City,State,Country,Supermarket Name,Number of Employees,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Madeira,8,37.756632,-122.429411
1,2,"735 Dolores St, San Francisco, CA 94119",San Francisco,CA 94119,USA,Bready Shop,15,37.757829,-122.425373
2,3,"332 Hill St, San Francisco, California 94114",San Francisco,California 94114,USA,Super River,25,37.755845,-122.428813
3,4,"3995 23rd St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Ben's Shop,10,37.752921,-122.431703
4,5,"1056 Sanchez St, San Francisco, California",San Francisco,California,USA,Sanchez,12,37.752132,-122.430006
5,6,"551 Alvarado St, San Francisco, CA 94114",San Francisco,CA 94114,USA,Richvalley,20,37.753582,-122.433234